body{
    width: 100%;
    height:100%;
    background-color: red;
    background-repeat: none;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
}

b{
    color: black;
}

i{
    color: yellow;
}

.container{
    margin-top: 30px;
    padding: 20px;
    max-width:600px;
    width: 80%;
    margin: 0 auto;
}