body{
    width: 100%;
    height:auto;
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
}

b{
    color: black;
}

i{
    color: yellow;
}

.info{
    margin: 30px, auto;
    max-width:700px;
    padding: 20px;
}

@media  only screen and (min-width:400px){
   p{
    font-size: 1.5rem;
   }
}