body{
    width: 100%;
    height: auto;
    background-color:red;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
}


body .contact, li .contact{
    background-color: black;
}

.main-nav{
    padding: 0;
}

ul{
    list-style: none;
    margin: 10px;
    padding: 10px;

}

li{
    padding-bottom: 10px;
}

li a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

li a:hover{
    color: greenyellow;
}

.contact-us{
    margin: 30px auto;
    padding: 20px;
    max-width:700px;
}


h3{
    color: #000;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-size: 1rem;
}

 input,textarea{
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    background-color: #cbd0d4;
    border: none;
 }

.contact-us input[type="submit"]{
    width: 83%;
    color: #1f9ce0;
    background-color: #fff;
}

.contact-us input[type="submit"]:hover{
    color: red;
}

@media only screen and (min-width:400px){
    h3{
        font-size: 1.5rem;
    }
}

@media only screen and (min-width:500px){
    li a{
        font-size: 2rem;
    }
    h1{
        font-size: 1.5rem;
    }
     ul li{
        float: left;
        width: 130px;
        margin: 0px 4px;
    }
    .clr{
        clear: both;
    }
    ul li a:hover{
        color: blue;
    }
}
